@import "~vue-multiselect/dist/vue-multiselect.min.css";

.multiselect--active {
    z-index: 9!important;
}

.multiselect {
    min-height: 35px;
}

.multiselect {
    .multiselect__single, .multiselect__tags,
    .multiselect__input, .multiselect__option {
        font-size: 0.875rem;
    }
    .multiselect__tags {
        min-height   : 35px;
        padding      : 0.375rem 2.75rem 0.375rem 0.75rem;
        border-radius: .25rem;

        .multiselect__tag {
            line-height: inherit;
        }
        .multiselect__tag-icon:after {
            font-size  : 1rem;
            line-height: 1.7rem;
        }

        .multiselect__single {
            white-space: nowrap;
            overflow   : hidden;
        }
    }
    .multiselect__select {
        height: 33px;
        top   : 0px;
    }
    .multiselect__select::before {
        top: 70%;
    }
    .multiselect__input,
    .multiselect__single {
        color: #5c6873;
    }
    .multiselect__single,
    .multiselect__placeholder {
        margin-bottom: 0;
        padding: 0 5px;
    }
    .multiselect__option {
        padding: 12px 16px;
    }
}

.multiselect--active {
    .multiselect__input {
        margin-bottom: 0;
        padding: 0 0 0 5px;
    }

}

.form-group.is-invalid {
    .multiselect__tags {
        border-color: #f86c6b;
    }
}
